.button {
}

.disabled {
    color: gray;
}

.secondary {
    color: gray;
}

.default {
    color: blue;
}

.red {
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
